@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@import "tailwindcss";

:root {
  --main_container-height: 550px;
}

* {
  font-family: "Poppins", sans-serif;
  color: white;
}

/* For Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #7c3aed; /* Tailwind violet-500 */
  border-radius: 9999px; /* rounded-full */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #8b5cf6; /* Tailwind violet-600 */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #7c3aed; /* violet-500 */
  border-radius: 9999px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #8b5cf6; /* violet-600 */
}

/* .custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #8b5cf6 transparent;
} */
